# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/tests
!/.github
!tsconfig.json
!astro.config.ts
!vitest.config.ts
!package.json
!.prettierrc
!eslint.config.mjs
!readme.md

# Markdown content
src/content/**/*.md
